@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=cognition_2');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=commit');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=work');
:root{
    --primary-bg: white;
    --font-color: black;

}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: var(--font-color);
    background-color: var(--primary-bg);
    overflow-x: clip;
}
/*Navigation*/
a {
    padding: 16px 16px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    justify-content: center;
}

header{
    margin: 6px;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    position: fixed;   /* Keeps the navbar in a static position on the screen */
    top: 0;   
    width: 100%;      
    z-index: 1000;
    color: var(--font-color);
    
}

header a.name{
    text-decoration: none;
    font-size: 18px;
}

.navBar{
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    width: 860px;
    top: 0;
    border-radius: 24px;
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.384);
    backdrop-filter: blur(10px);  

}

ul.nav-links{
    display: inline-flex;
    justify-content: center;
}
/* Finally got to target a in the ul class = nav-links*/
ul.nav-links li{
    display: inline-flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}


.nav-icon{
    display: inline-block;
    width: 24px;       
    height: 24px;        
    margin-right: -12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.home-icon{
    background-image: url('/Assets/home_100dp_000000_FILL0_wght700_GRAD200_opsz48.png');
}
.pro-icon{
    background-image: url('/Assets/work_100dp_000000_FILL0_wght700_GRAD200_opsz48.png');
}
.personality-icon{
    background-image: url('/Assets/cognition_2_100dp_000000_FILL0_wght700_GRAD200_opsz48.png');
}
.dev-icon{
    background-image: url('/Assets/commit_28dp_000000_FILL0_wght700_GRAD200_opsz24.png');
}

ul.nav-links li:hover{
    filter: brightness(0) saturate(100%) invert(66%) sepia(31%) saturate(712%) hue-rotate(158deg) brightness(101%) contrast(94%);
    /*Both icon and links would not change together*/
}
/*Content*/
#home{
    margin-top: 40px;
    padding: 10px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

}

.container{
    width: min(99vw, 1500px);
    min-height: 300px;
    border-radius: 15px;
    padding: 40px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.container div{
    height: auto;
    width: auto;
    flex: 1 1 620px;
    font-size: clamp(3.5rem, 6vw, 8rem);
    line-height: 0.9;
    letter-spacing: -0.06em;
    vertical-align: middle;
    overflow: hidden;
}

div.container p{
    font-size: 50px;
    letter-spacing: 0em;
}
img{
    /* width: clamp(220px, 29vw, 420px);*/
    width: 350px;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
    flex-shrink: 0;
    object-fit: contain;
}